# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
/data_diseases

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.venv
/scripts/PredicciónImágenes
/data
/results/models/Chest_xray_model
README.md
__pycache__
densenet_multilabel_model.pth
densenet_chest_xray_model.pth

npm-debug.log*
yarn-debug.log*
yarn-error.log*
